/* Universal Selector */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system, system-ui, sans-serif;
  font-weight: 400;
  color: #919499;
  /* font-size: 14pt; */
  line-height: 1.75em;
  padding: 1rem;
  box-sizing: border-box; }

/* animations */
@keyframes moveInLeft {
  /* start */
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  /* middle */
  80% {
    transform: translateX(1rem); }
  /* end */
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  /* start */
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  /* middle */
  80% {
    transform: translateX(-1rem); }
  /* end */
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  /* start */
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  /* end */
  100% {
    opacity: 1;
    transform: translateX(0); } }

.heading-secondary {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #a954b3, #ff13b0);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  transition: all 0.2s; }
  .heading-secondary:hover {
    transform: skewY(1.5deg) skewX(0.5deg) scale(1.08);
    text-shadow: 0.5rem 1rem 2rem rgba(220, 5, 228, 0.2); }

.heading-tertiary {
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 2.5rem;
  margin-top: -5rem; }

p {
  font-size: 1.8rem; }
  p:not(:last-child) {
    margin-bottom: 3rem; }

.btn {
  /* uses sudo-classes */ }
  .btn:link, .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all 0.2s;
    position: relative;
    font-size: 1.6rem; }
  .btn:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba(8, 7, 8, 0.2); }
    .btn:hover::after {
      transform: scale(1.5) scaleY(1.6);
      opacity: 0; }
  .btn:active {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgba(8, 7, 8, 0.2); }
  .btn-light {
    background-color: #ffffff;
    color: #919499; }
    .btn-light::after {
      background-color: #fff; }
  .btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s; }

.btn-text:link, .btn-text:visited {
  color: #dc05e4;
  display: inline;
  text-decoration: none;
  border-bottom: 0.1rem solid #3bee44;
  padding: 0.3rem;
  font-size: 1.8rem;
  transition: all 0.2s; }

.btn-text:hover {
  background-color: #3bee44;
  color: #ffffff;
  box-shadow: 0 1rem 2rem rgba(8, 7, 8, 0.2);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(8, 7, 8, 0.2);
  transform: translateY(0); }

div .card {
  border: none; }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 50rem; }
  .card__side {
    height: 50rem;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 0.3rem;
    overflow: hidden;
    box-shadow: 0 1.5rem 2rem rgba(8, 7, 8, 0.4); }
    .card__side--front {
      background-color: #4cc9f0; }
    .card__side--back {
      transform: rotateY(180deg);
      background-image: linear-gradient(to right bottom, #fcfcfc, #ffffff); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__image img {
    background-size: cover;
    height: 35vh;
    width: 100%;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
  .card__heading h4 {
    font-size: 2.5rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: #ffffff;
    position: absolute;
    top: 12rem;
    right: 1rem;
    width: 70%; }
  .card__heading-span {
    padding: 0.2rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    font-size: 2.4rem; }
    .card__heading-span-1 {
      background-image: linear-gradient(to right bottom, rgba(255, 19, 176, 0.85), rgba(8, 7, 8, 0.85)); }
  .card__stack {
    padding: 3rem; }
    .card__stack ul {
      list-style: none;
      width: 80%;
      margin: 0 auto;
      padding-left: 0.5rem; }
      .card__stack ul li {
        text-align: center;
        text-transform: uppercase;
        font-size: 1.2rem;
        color: #ffffff;
        padding: 0.6rem; }
        .card__stack ul li:not(:last-child) {
          border-bottom: 1px solid #fcfcfc; }
  .card__details__project-description {
    font-size: 1.2rem; }
  .card__details .learn-more a {
    font-size: 1.2rem; }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(8, 7, 8, 0.4);
    border-radius: 0.2rem;
    position: absolute;
    z-index: 10;
    transition: all 0.2s;
    outline-offset: 0.15rem; }
    .composition__photo_p1 {
      left: 30%;
      top: 0; }
    .composition__photo_p2 {
      right: 0;
      top: 2rem; }
    .composition__photo_p3 {
      left: 0%;
      top: -1.2rem; }
    .composition__photo:hover {
      outline: 0.5rem solid #4cc9f0;
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba(8, 7, 8, 0.5);
      z-index: 20; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

.header {
  height: 100vh;
  background-image: linear-gradient(to right top, rgba(152, 206, 0, 0.2), rgba(220, 5, 228, 0.5)), url("./images/CleanWork2.png");
  background-size: cover;
  background-position: bottom;
  position: relative; }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
  .header-primary {
    color: #ffffff;
    text-transform: uppercase;
    /* removes jiggliness */
    backface-visibility: hidden;
    margin-bottom: 6rem; }
  .header-primary--name {
    display: block;
    font-size: 4rem;
    font-weight: 400;
    letter-spacing: 0.5rem;
    /* initiates animation */
    animation-name: moveInLeft;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    /* animation-delay: 1s;
        animation-iteration-count: 3;
         */ }
  .header-primary--title {
    padding-top: 1.4rem;
    display: block;
    font-size: 1.5rem;
    font-weight: 550;
    letter-spacing: 0.5rem;
    animation: moveInRight 1.5s ease-out; }

.resume-link {
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards; }

.about-me-section {
  background-color: #fcfcfc;
  padding: 20rem 0;
  margin-top: -10vh; }

.skills-section {
  padding: 10rem 0 20rem 0;
  background-image: linear-gradient(to right top, #e7fad2, #f6c5f8);
  background-size: 100%;
  background-position: top;
  clip-path: polygon(30% 0, 70% 0, 70% 4%, 100% 4%, 100% 100%, 0 100%, 0 4%, 30% 4%);
  margin-top: -10vh; }

.projects-section {
  background-color: #fcfcfc;
  padding: 10rem 0 20rem 0;
  margin-top: -10vh;
  clip-path: polygon(30% 0, 70% 0, 70% 2%, 100% 2%, 100% 100%, 0 100%, 0 2%, 30% 2%); }

.footer-section {
  margin-top: -5vh;
  padding: 10rem 0 5rem 0;
  background-image: linear-gradient(to right top, #e7fad2, #f6c5f8);
  clip-path: polygon(30% 0, 70% 0, 70% 5%, 100% 5%, 100% 100%, 0 100%, 0 5%, 30% 5%); }

/* TECHNICAL PROFICIENCIES SECTION */
.skill-icon {
  padding: 1rem 2rem;
  color: #dc05e4; }
  .skill-icon:hover {
    color: #3bee44; }

span {
  font-family: "SF Mono", "Fira Code", "Mono", "Roboto Mono", monospace;
  font-size: 1.6rem; }

.section-title {
  padding-top: 3.2rem; }

.skills-section__container {
  position: inherit;
  top: 10%;
  left: 10%;
  text-align: left; }

/* FOOTER SECTION */
.contact-links .heading-tertiary {
  color: #a954b3; }

.contact-links-row ul {
  display: flex;
  list-style: none;
  text-align: center;
  padding: 0 10rem;
  position: inherit; }

.linked-icon {
  color: #a954b3; }
  .linked-icon:hover {
    color: #3bee44; }
